<header class="p-5">
  <div class="container">
    <nav>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['', { outlets: { modal: ['modal'] } }]">Open Modal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['', { outlets: { modal: ['info'] } }]">Open Info</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<section>
  <div class="container">
    <div class="card p-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>

<section>
  <router-outlet name="modal"></router-outlet>
</section>
